
* {
    margin: 0;
}

html {
    background-color: #BFBDBA;
}

header, section {
    text-align: center;
    background-color: #ecebe7;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.navLinks {
    display: flex;
    gap: 25px;
}

/* citing this resouce that helped me with the buttons: https://www.w3schools.com/css/css3_buttons.asp */

.leaf-btn {
    background-image: url("../img/leaf.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 110px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
}

.content {
    display:flex;
    justify-content: center;
    gap: 340px;
    margin-top: 20px;
    color: #515956;
}

.content a {
    text-decoration: none;
    color:#515956;
}

/* citing for hoover effect help: https://www.w3schools.com/cssref/sel_hover.php */

.content a:hover {
    color: #F2F2F2;
}

h3:hover {
    color: #F2F2F2;
}

.matchaList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail-btn {
    background-image: url("../img/mail.gif");
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: center;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #F2F2F2;
    font-weight:bolder;

}

.logo {
    width: 90px;
}

.me {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.me img {
    width: 300px;
}

.inspo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inspo img {
    width: 850px;
}

.lists {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.lists img {
    width: 900px;
}

p {
    text-align: center;
    margin-top: 10px;
    color: #515956; 
    padding: 20px;
}

h1 {
    text-transform: uppercase;
    color: #515956;
}

h2, h3 {
    text-transform: capitalize;
    color: #515956;
}


.inspoLinks a {
    text-decoration: none;
}

.inspoLinks {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.inspoItem {
    width: 30%;
}


